# List/Tuple

In [9]:
'''
+
*
in  <---- Membership operator
not in  <---- Membership operator
[]  <---- Index Operator
[:]  <---- Slicing operator

'''

'\n+\n*\nin  <---- Membership operator\nnot in  <---- Membership operator\n[]  <----Index Operator\n[:]  <---- Slicing operator\n\n'

In [10]:
l1 = [1,2,'a']
print(type(l1))
print(l1)

<class 'list'>
[1, 2, 'a']

In [11]:
l2 = [3,4,5]
l1+l2

[1, 2, 'a', 3, 4, 5]

In [12]:
t1 = (1,2,3)
print(type(t1))
print(t1)

<class 'tuple'>
(1, 2, 3)

In [13]:
t2 = (1,2,8)
t1+t2

(1, 2, 3, 1, 2, 8)

In [14]:
l1*l2

TypeError: can't multiply sequence by non-int of type 'list'

In [ ]:
t1*t2

In [ ]:
# in and not in belongs to membership operator

In [ ]:
10 in l1

In [ ]:
10 in t1

In [ ]:
10 not in l1

In [ ]:
10 not in t1

In [ ]:
l1[1]

In [ ]:
t1[2]

In [16]:
l1 = [1,2,'a',30,5]
t1 = (8,40,50,'b',6)
for i in l1:
    print(i)

1
2
a
30
5

In [17]:
for i in t1:
    print(i)

8
40
50
b
6

In [18]:
# using while loop print all elements of list.
i = 0
while i<len(l1):
    print(l1[i])
    i+=1

1
2
a
30
5

In [19]:
# using while loop print all elements of tuple.
i = 0
while i<len(t1):
    print(t1[i])
    i+=1

8
40
50
b
6

In [20]:
size = len(l1)
i=0
while i<size:
    print(l1[i])
    i+=1

1
2
a
30
5

In [21]:
l1[3:5]

[30, 5]

In [22]:
t1[3:5]

('b', 6)

In [24]:
l1[-2:-4]

[]

In [25]:
l1[-2:-4:-1]

[30, 'a']

# List vs Tuple

## List

In [29]:
l1 = ['a','b','d','e']
t1 = ('a','b','c','d')

In [30]:
# inbuilt functions

l1.append(8)
print(l1)
# list is mutable(changeable)

['a', 'b', 'd', 'e', 8]

In [31]:
t1.append(8) # tuple is immutalbe(Not changeable)
t1

AttributeError: 'tuple' object has no attribute 'append'

In [32]:
# List is a sequence of elements. In list duplicates are allows. Sequence insertion is allow.

In [33]:
l1.append(8)
print(l1)

['a', 'b', 'd', 'e', 8, 8]

In [34]:
del l1[-1]

In [35]:
l1

['a', 'b', 'd', 'e', 8]

In [37]:
del t1[-1] # Any kind of modification not allow in tuple after once it create.

TypeError: 'tuple' object doesn't support item deletion

In [38]:
l1 = ['a','a','b','c','a']
t1 = ('a','a','b','c','a')
l1.count('a')

3

In [39]:
t1.count('a')

3

In [40]:
l1.index('a',0,len(l1)) # index function give the index of first occurance of given element.

0

In [41]:
t1.index('a',0,len(l1))

0

In [42]:
max(l1)

'c'

In [43]:
min(l1)

'a'

In [44]:
max(t1)

'c'

In [45]:
min(t1)

'a'

In [46]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [47]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [49]:
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [56]:
l1 = ['a','a','b','c','a']
t1 = ('a','a','b','c','a')

print(l1.pop(2))
print(l1)

b
['a', 'a', 'c', 'a']

In [57]:
t1.pop(2)

AttributeError: 'tuple' object has no attribute 'pop'

In [58]:
l1.remove('a') # remove function delete the first occurance of given value.
l1

['a', 'c', 'a']

In [59]:
l1.remove('e')

ValueError: list.remove(x): x not in list

In [60]:
l1.insert(2,5)
l1

['a', 'c', 5, 'a']

In [62]:
l1 = [1,5,8,6]
t1 = (1,5,8,6)
l1[2]='a'
l1

[1, 5, 'a', 6]

In [63]:
t1[2]="a"

TypeError: 'tuple' object does not support item assignment

In [69]:
l1.reverse()
l1

[1, 5, 'a', 6]

In [71]:
l1.sort() # when we use the sort function then values should be in same data type.

TypeError: '<' not supported between instances of 'str' and 'int'

In [72]:
l1.remove('a')

In [74]:
l1.sort()
l1

[1, 5, 6]

In [76]:
# delete the tuple value using type casting
t1 = [1,5,8,6]
t1 = list(t1)
t1.remove(8)
t1 = tuple(t1)
print(t1)

(1, 5, 6)

In [77]:
l1= [1,2,3,4]
l2 = l1
print(l1)
print(l2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [78]:
del l1[2] # deleting the value using index.
print(l1)
print(l2)

[1, 2, 4]
[1, 2, 4]

In [79]:
l1= [1,2,3,4]
l2 = l1.copy()
print(l1)
print(l2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [80]:
# after using copy function
del l1[2] # deleting the value using index.
print(l1)
print(l2)

[1, 2, 4]
[1, 2, 3, 4]

In [82]:
# set is sequence of unordered and unique elements.
l1= [1,2,3,4,1,2,8]
l1 =set(l1)
print(l1)

{1, 2, 3, 4, 8}

In [84]:
# write a program to reverse list without using reverse function.
l1= [1,2,3,4]
l2=[]
j =-1
for i in l1:
    l2.append(l1[j])
    j-=1
print(l2)

[4, 3, 2, 1]

In [88]:
# write a program to find the count of occurance of a element in list.
l1= [1,2,3,4,6,2,4,6,6,2,2]
c = 0
find_element = 2
for i in l1:
    if i == find_element:
        c+=1       
print(c)

4

In [94]:
# write a program to find the indexes of occurance of a element in list.
l1= [1,2,3,4,6,2,4,6,6,2,2]
indx = 0
indx_list=[]
find_element = 2
for i in l1:
    if i == find_element:
        indx_list.append(indx)
    indx+=1
print(indx_list)

[1, 5, 9, 10]

In [96]:
# write a program to find the max number in list.
l1= [1,2,3,4,6,2,4,6,6,2,10]
indx = 0
for i in l1:
    if i>indx:
        indx=i 
print(indx)

10

In [101]:
# write a program to find the min number in list.
l1= [4,6,3,4,6,5,4,6,6,11,10]
indx = l1[0]
for i in l1:
    if i<indx:
        indx=i 
print(indx)

3

In [42]:
# write a program to find the duplicate or multiple numbers in list without using in built function.
l1 = [2,3,10,1,1,2,3,9,8]
l2 = []
c = 0
for i in l1:
    for j in l1[c+1:]:
        if i == j:
            if i in l2:
                continue
            else:
                l2.append(i)
                break
    c+=1
print(l2)

[2, 3, 1]

In [112]:
# 1. ascending and descending & delete duplicate.
# 2. finding the duplicate.

[1, 2, 2, 8]

In [33]:
# To delete duplicate in a list
l1 = [1,2,2,3,1,5,6,7,2,4]
l2=[]
for i in l1:
    if i not in l2:
        l2.append(i)
l2

[1, 2, 3, 5, 6, 7, 4]

In [31]:
# To convert a list in Descending order (Wrong Code)
l1 = [2,3,4,8,9,5,1]
c = 0
for i in l1:
    b =0
    for j in l1:
        if i>j:
            temp=l1[c]
            l1[c]=l1[b]
            l1[b]=temp
        b+=1
    c+=1
l1

[9, 8, 4, 3, 5, 2, 1]

In [48]:
# To convert a list in Ascending order(wrong code)
l1 = [1,7,2,3,8,4]
c = 0
for i in l1:
    b =0
    for j in l1:
        if i<j:
            temp=l1[c]
            l1[c]=l1[b]
            l1[b]=temp
        b+=1
    c+=1
l1

[1, 2, 4, 7, 3, 8]

In [47]:
# To convert a list in Ascending order(tested ok)
l1 = [1,7,2,3,8,4,10]
a=0
for i in range(len(l1)-1):
    b=0
    for j in range(len(l1)-1):
        if l1[b]>l1[b+1]:
            temp = l1[b]
            l1[b] = l1[b+1]
            l1[b+1] = temp
        b+=1
    a+=1
print(l1)

[1, 2, 3, 4, 7, 8, 10]

In [55]:
# To convert a list in Descending order (Tested ok)
l1 = [1,7,2,3,8,4,10,2,90,90,90]
a=-1
for i in range(len(l1)-1):
    b=-1
    for j in range(len(l1)-1):
        if l1[b]>l1[b-1]:
            temp = l1[b]
            l1[b] = l1[b-1]
            l1[b-1] = temp
        b-=1
    a-=1
print(l1)

[90, 90, 90, 10, 8, 7, 4, 3, 2, 2, 1]

In [67]:
# To convert a list in Descending order using while loop
l1 = [1,7,2,3,8,4,10,2,90,90,90]
c1=0
a=-1
while c1 < len(l1):
    b=-1
    b1=0
    while b1 < len(l1)-1:
        if l1[b]>l1[b-1]:
            temp = l1[b]
            l1[b] = l1[b-1]
            l1[b-1] = temp
        b-=1
        b1+=1
    c1+=1
    a-=1
print(l1)

[90, 90, 90, 10, 8, 7, 4, 3, 2, 2, 1]

In [66]:
# To convert a list in Ascending order using while loop
l1 = [1,7,2,3,8,4,10]
a=0
while a < len(l1):
    b=0
    while b < (len(l1)-1):
        if l1[b]>l1[b+1]:
            temp = l1[b]
            l1[b] = l1[b+1]
            l1[b+1] = temp
        b+=1
    a+=1
print(l1)

[1, 2, 3, 4, 7, 8, 10]