In [1]:
import pandas as pd
s1 = pd.Series(10)
s1

0    10
dtype: int64

In [2]:
s2 = pd.Series([10,20,30,40])
s2

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
name =pd.Series(["Smith","John","Miller"],index=["S","J","M"])
name

S     Smith
J      John
M    Miller
dtype: object

In [4]:
name2 = pd.Series({"S":"Susan","J":"Jack","M":"Michael"})
name2

S      Susan
J       Jack
M    Michael
dtype: object

In [34]:
#import pandas and numpy libraries

import pandas as pd
import numpy as np

#defining new series object

views= pd.Series([100,600,250,300,300,1000,np.nan],index=['Sat','Sun','Mon','Tues','Wedn','Thrs','Fri'])
views

Sat      100.0
Sun      600.0
Mon      250.0
Tues     300.0
Wedn     300.0
Thrs    1000.0
Fri        NaN
dtype: float64

In [6]:
len(views)

7

In [7]:
views.shape

(7,)

In [8]:
views.size

7

In [9]:
views.count()

6

In [10]:
views.unique()

array([ 100.,  600.,  250.,  300., 1000.,   nan])

In [11]:
views.value_counts()

300.0     2
1000.0    1
250.0     1
600.0     1
100.0     1
dtype: int64

In [13]:
#access the index

views.index

RangeIndex(start=0, stop=7, step=1)

In [14]:
#access the values
views.values

array([ 100.,  600.,  250.,  300.,  300., 1000.,   nan])

In [15]:
#slice specific rows
views.head(2)

0    100.0
1    600.0
dtype: float64

In [16]:
#slice specific rows
views.head(n=2)

0    100.0
1    600.0
dtype: float64

In [17]:
# by default head() function show first 5 rows
views.head()

0    100.0
1    600.0
2    250.0
3    300.0
4    300.0
dtype: float64

In [18]:
#access the last rows
views.tail(3)

4     300.0
5    1000.0
6       NaN
dtype: float64

In [35]:
#access the index
views.index

Index(['Sat', 'Sun', 'Mon', 'Tues', 'Wedn', 'Thrs', 'Fri'], dtype='object')

In [37]:
views['Sun']

600.0

In [40]:
views.loc['Sun']

600.0

In [41]:
views[1]

600.0

In [42]:
# To access specific index
views[['Mon','Sat']]

Mon    250.0
Sat    100.0
dtype: float64

In [44]:
# take method
views.take([0,1,3])

Sat     100.0
Sun     600.0
Tues    300.0
dtype: float64

## Getting Data with accessors(.loc, .iloc, .ix)

In [45]:
import pandas as pd
import numpy as np

In [46]:
# Defining a new Series object
string = pd.Series([50,60,70,80],index = ['a','b','c','d'])
string

a    50
b    60
c    70
d    80
dtype: int64

In [47]:
string[1]

60

In [48]:
integer = pd.Series([50,60,70,80], index = [3,2,1,0])
integer

3    50
2    60
1    70
0    80
dtype: int64

In [49]:
integer[1]

70

In [50]:
# the loc refers to the level name(index name)
integer.loc[1]

70

In [51]:
# the loc refers to the integer position value
integer.iloc[1]

'''
In series values like
0  50
1  60
2  70
3  80

'''

60

In [52]:
integer.loc[[1,2]]

1    70
2    60
dtype: int64

In [54]:
integer.iloc[[1,2]]

2    60
1    70
dtype: int64

In [55]:
integer.loc[[1,50,40]]

C:\Users\Shanu\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

1     70.0
50     NaN
40     NaN
dtype: float64

In [56]:
integer

3    50
2    60
1    70
0    80
dtype: int64

In [57]:
string

a    50
b    60
c    70
d    80
dtype: int64

In [58]:
# .ix  works on both loc and iloc

string.ix[3]

C:\Users\Shanu\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

80

In [59]:
string.ix['d']

C:\Users\Shanu\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

80

In [61]:
integer

3    50
2    60
1    70
0    80
dtype: int64

In [62]:
# for .ix priority is label name, not integer position of value
integer.ix[0]

C:\Users\Shanu\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

80

## Arithmetic Operations in Series

In [63]:
import pandas as pd
import numpy as np

In [64]:
# define new series object
Series1 = pd.Series([50,60,70,80],index = ["e","f","g","h"])
Series1

e    50
f    60
g    70
h    80
dtype: int64

In [65]:
Series2 = pd.Series([20,30,40,50],index = ["h","g","f","e"])
Series2

h    20
g    30
f    40
e    50
dtype: int64

In [66]:
# This adding operation done as per index label name, not position wise
Series3 = Series1 + Series2

In [67]:
Series3

e    100
f    100
g    100
h    100
dtype: int64

In [69]:
# Defining new series object

Series3 = pd.Series([10,20,30,50],index = ["a","b","c","d"])
Series3

a    10
b    20
c    30
d    50
dtype: int64

In [71]:

Series4 = pd.Series([60,70,80,90],index = ["b","c","d","e"])
Series4

b    60
c    70
d    80
e    90
dtype: int64

In [72]:
Series5 = Series3 + Series4
Series5

a      NaN
b     80.0
c    100.0
d    130.0
e      NaN
dtype: float64